{% extends 'page/catalog.html.twig' %}

{% block body %}
    <div class="container-fluid catalog-container">
        {{ include('modules/rating_schema.html.twig') }}
        {% block popular_category_block %}
            {{ include('popular-category.html.twig') }}
        {% endblock %}

        {% block rating_block %}
            {{ include('modules/rating.html.twig') }}
        {% endblock %}

        {% if (showCatalog is not defined or showCatalog) and (products is defined and products|length > 0) %}
            {{ include('catalog/blocks/aggregate_offer_schema.html.twig', {catalogUri: page.uri}) }}
            <div id="content" class="container container2">
                {{ include('catalog/blocks/catalog.html.twig', {h2:  page.name~" каталог и цены:"}) }}
            </div>
        {% endif %}
        {% block location_block %}{% endblock %}
    </div>

    {% if show_calc is not defined or show_calc %}
        {{ include('modules/catalog_calculator.html.twig') }}
    {% endif %}

    {% set work_example_block = include('modules/work_example/without-filters.html.twig') %}
    {{ work_example_block|raw }}

    {% if work_example_block is empty %}
        {{ include('modules/_our_works.html.twig') }}
    {% endif %}

    {% if page.locations|default(null) is not empty %}
        <div class="container">
            <h2>{{ page.name }} для помещений:</h2>
            {{ include('modules/recommended_products.html.twig', {items: page.locations, hideCatalog: true, locationsCatalog: page.locationsCatalog, newPage: false}) }}
        </div>
    {% endif %}

    {{ include('modules/_seo_block.html.twig') }}

    {% block recommended_block %}{% endblock %}
    {{ include('modules/_faq.html.twig') }}
{% endblock %}
