{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('catalog') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('catalog') }}
{% endblock %}

{% block title %}
    {%- if page.title -%}
        {{ page.title }}
    {%- else -%}
        {{ page.name }} купить в Москве. Каталог и цены | Мастерская Жалюзи
    {%- endif -%}
{% endblock %}
{% block description %}
    {%- if page.description -%}
        {{ page.description }}
    {%- else -%}
        {{ page.name }} купить недорого в Москве. ⭐ Выезд и замер бесплатно! ✅ Изготовление жалюзи с установкой за 1-4 дня. ✅ Гарантия 2 года. ⭐ {{ page.name }} по низким ценам в интернет магазине «Мастерская жалюзи» ☎ 8-800-775-72-38.
    {%- endif -%}
{% endblock %}
{% block h1 %}{{ page.name }} в Москве{% endblock %}

{% block body %}
    {% block location_block %}{% endblock %}
    <div class="container-fluid catalog-container">
        {{ include('modules/rating_schema.html.twig') }}
        <h2>{% block content_h2 %}{{ page.name }}{% endblock %}</h2>
        <div id="app">
            <v-category-page-calc
                    type_id="{{ page.type.id??0 }}"
                    material_id="{{ page.material.id??0 }}"
                    force_show_filters="{{ force_show_filters ?? 0 }}"
            >
                <div class="products">
                    {% for item in items %}
                        <div class="product">
                            <div class="product__name">
                                <a href="/{{ item.uri }}/" target="_blank">
                                    {{ item.name }}
                                </a>
                            </div>
                            <div class="product__price">{{ min_price(item) }}</div>
                            <button class="mbtn mbtn_orange">Рассчитать</button>
                        </div>
                    {% endfor %}
                </div>

            </v-category-page-calc>
        </div>
    </div>
    {{ include('modules/_seo_block.html.twig') }}
    {% if show_calc %}
        {{ include('modules/_calculator.html.twig') }}
    {% endif %}

    {{ include('modules/_our_works.html.twig') }}
    {{ include('modules/_employees.html.twig') }}
    {{ include('modules/_clients.html.twig') }}
{% endblock %}
