{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('catalog') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('catalog') }}
{% endblock %}

{% block title %}{{ page.name }} купить в Москве. Каталог и цены | Мастерская Жалюзи{% endblock %}
{% block description %}{{ page.name }} купить недорого в Москве. ⭐ Выезд и замер бесплатно! ✅ Изготовление жалюзи с установкой за 1-4 дня. ✅ Гарантия 2 года. ⭐ {{ page.name }} по низким ценам в интернет магазине «Мастерская жалюзи» ☎ 8-800-775-72-38.{% endblock %}
{% block h1 %}{{ page.name }} в Москве{% endblock %}

{% block body %}
    <div class="container-fluid catalog-container">
        <h2>{{ page.name }}</h2>
        <div id="app">
            <v-category-page-calc
                    type_id="{{ page.type.id??0 }}"
                    material_id="{{ page.material.id??0 }}"
            ></v-category-page-calc>
        </div>
    </div>
{% endblock %}
