{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('catalog') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('catalog') }}
{% endblock %}

{% block title %}{{ page.name }}{% endblock %}
{% block h1 %}{{ page.name }}{% endblock %}

{% block body %}
    <div class="container-fluid catalog-container">
        <h2>{{ page.name }}</h2>
        <div id="app">
            <v-category-page-calc
                    type_id="{{ page.type.id??0 }}"
                    material_id="{{ page.material.id??0 }}"
            ></v-category-page-calc>
        </div>
    </div>
{% endblock %}
