{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('catalog') }}
    {{ encore_entry_link_tags('simple_catalog') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('catalog') }}
    {{ encore_entry_script_tags('simple_catalog') }}
{% endblock %}

{% block title %}
    {%- if page.title -%}
        {{ page.title }}
    {%- else -%}
        {{ page.name }} купить в Москве. Каталог и цены | Мастерская Жалюзи
    {%- endif -%}
{% endblock %}
{% block description -%}
   {{ page.descriptionComputed }}
{%- endblock %}
{% block h1 %}{{ page.name }} в Москве{% endblock %}

{% block body %}
    <div id="content" class="container-fluid catalog-container">
        {{ include('modules/rating_schema.html.twig') }}
        {% block popular_category_block %}{% endblock %}
        {% if (showCatalog is not defined or showCatalog) and (products is defined and products|length > 0) %}
            {{ include('catalog/blocks/aggregate_offer_schema.html.twig', {catalogUri: page.uri}) }}
            <h2>{% block content_h2 %}{{ page.name }}{% endblock %}</h2>
            {{ include('catalog/blocks/catalog.html.twig') }}
        {% endif %}
        {% block location_block %}{% endblock %}
    </div>
    
    {% set work_example_block = include('modules/work_example/without-filters.html.twig') %}
    {{ work_example_block|raw }}
    
    {% if show_calc is not defined or show_calc %}
        {{ include('modules/catalog_calculator.html.twig') }}
    {% endif %}
    
    {% if items|default(null) is not empty and not page.premium|default(false) %}
        <div class="container hide-mobile">
            <h2>{{ page.recommendedTitle }}:</h2>
            {{ include('modules/recommended_products.html.twig') }}
        </div>
    {% endif %}
    {% block catalog_card %}
        {{ include('modules/_catalog_card.html.twig') }}
    {% endblock %}
    
    {% block rating_block %}
        {{ include('modules/rating.html.twig') }}
    {% endblock %}
    
    {{ include('modules/_seo_block.html.twig') }}
    
    {% if work_example_block is empty %}
        {{ include('modules/_our_works.html.twig') }}
    {% endif %}
    
    {% block recommended_block %}{% endblock %}
    
    {{ include('modules/_employees.html.twig') }}
    {{ include('modules/_clients.html.twig') }}
{% endblock %}
