{% extends 'page/catalog.html.twig' %}

{% block title -%}
    {{ page.name ~" "~ selectedColor.name|lower }} купить в Москве. Каталог и цены | Мастерская Жалюзи
{%- endblock %}
{% block description -%}
    {{ page.name ~" "~ selectedColor.name|lower }} купить недорого в Москве. ⭐ Выезд и замер бесплатно! ✅ Изготовление жалюзи с установкой за 1-4 дня. ✅ Гарантия 2 года. ⭐{{ page.name ~" "~ selectedColor.name|lower }} по низким ценам в интернет магазине «Мастерская жалюзи» ☎ 8-800-775-72-38.
{%- endblock %}
{% block h1 %}{{ page.name ~" "~ selectedColor.name|lower }} в Москве{% endblock %}
{% block body %}
    <div id="content" class="container-fluid catalog-container">
        {{ include('modules/rating_schema.html.twig') }}
        {{ include('catalog/blocks/aggregate_offer_schema.html.twig', {catalogUri: page.uri}) }}
        <h2>{% block content_h2 %}{{ page.name ~" "~ selectedColor.name|lower }}{% endblock %}</h2>
        {{ include('catalog/blocks/catalog.html.twig') }}
    
    </div>
    
    {% block rating_block %}
        {{ include('modules/rating.html.twig') }}
    {% endblock %}
    {{ include('modules/_employees.html.twig') }}
    {{ include('modules/_clients.html.twig') }}
{% endblock %}
