{% extends 'page/catalog.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('simple_catalog') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('simple_catalog') }}
{% endblock %}
{% block h1 %}{{ page.h1 }}{% endblock %}
{% block content_h2 %}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}
{% block location_block %}
    {% embed 'embedded/card.html.twig' %}
        {% block image %}<img {{ lazy_load(page.cardImageUrl) }} alt="{{ page.name }}">{% endblock image %}
        {% block header %}{{ page.cardHeader }}{% endblock header %}
        {% block content %}{{ page.cardDescription|raw }}{% endblock content %}
        {% block footer %}
            <div class="cart-footer-zag">
                Цена {{ page.geoProduct.price }}
            </div>
        {% endblock %}
        {% block buttons %}
            <div class="three-button-wrapper">
                <a class="mbtn" href="/zhalyuzi/#content">Каталог</a>
                <button class="mbtn mbtn_orange js-modal-open" data-title="Рассчитать">Рассчитать
                </button>
                <button class="mbtn js-modal-open" data-title="Консультация">Консультация</button>
            </div>
        {% endblock %}
    {% endembed %}
    
    {{ include('modules/rating.html.twig') }}
{% endblock location_block %}
{% block rating_block %}{% endblock %}
{% block catalog_card %}{% endblock %}
{% block recommended_block %}
    {{ include('modules/recommended-main-page.html.twig') }}
{% endblock %}
