{% extends 'page/catalog.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('simple_catalog') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('simple_catalog') }}
{% endblock %}
{% block content_h2 %}{{ page.name }}. Каталог и цены:{% endblock %}
{% block description %}{{ page.description }}{% endblock %}
{% block location_block %}
    {{ include('modules/rating.html.twig') }}
    {% embed 'embedded/card.html.twig' %}
        {% block image %}<img {{ lazy_load(page.cardImageUrl) }} alt="{{ page.name }}">{% endblock image %}
        {% block header %}{{ page.h2 }} цена{% endblock header %}
        {% block content %}{{ page.cardDescription|raw }}{% endblock content %}
        {% block footer %}
            <div class="cart-footer-zag">
                Цена {{ page.price }}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock location_block %}
{% block rating_block %}{% endblock %}
{% block catalog_card %}{% endblock %}
