{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('product') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('product') }}
{% endblock %}

{% block title %}
    {%- if page.title -%}
        {{ page.title }}
    {%- else -%}
        {{ page.name }} на окна купить в $city_prepositional
    {%- endif -%}
{% endblock %}

{% block description %}
    {{ page.descriptionComputed }}
{% endblock %}

{% block h1 %}{{ page.name }}{% endblock %}

{% block body %}
    <div id="card-title"></div>
    {{ include('modules/rating_schema.html.twig') }}
    {% embed 'embedded/card.html.twig' %}
        {% block image %}
            <img src="{{ page.imageBig }}"
                 alt="{{ page.imageAlt }}"
                 title="{{ page.imageTitle }}"
            >
        {% endblock image %}
        {% block header %}{{ page.cardHeader }}{% endblock header %}
        {% block content %}
            <div><b>Вид:</b> {{ page.typeNameForPage }}</div>
    
            {% if page.typeForPage %}
                <div><b>Тип:</b> {{ page.typeForPage }}</div>
            {% endif %}
    
            <div><b>Материал:</b> {{ page.materialForPage }}</div>
            <div><b>Цвет:</b> {{ page.colorName }}.</div>
            {% if not (page.type.hideCategories|default(false)) %}
                <div><b>Категория:</b> {{ page.categoryName }}</div>
            {% endif %}
            <div><b>Размер:</b> на ваш выбор.</div>
            <div><b>Управление:</b> ручное и автоматическое.</div>
            <div><b>Срок изготовления и установки:</b> 1-5 дней.</div>
            <div><b>Выезд и замер:</b> бесплатный при оформлении заказа и оплате.</div>
            <div><b>Доставка и установка:</b> по Москве и области.</div>
        {% endblock content %}
        
        {% block footer %}
            <div class="cart-footer-zag">Цена {{ min_price(page, false, true) }}</div>
            <div class="cart-footer-orang">(Гарантия 2 года)</div>
            <div class="cart-footer-text">Стоимость указана со скидкой 7% при заказе с сайта + бесплатный замер</div>
        {% endblock footer %}
        {% block buttons %}
            <div id="app" class="btn-wrap">
                <v-product-page-calc product_id="{{ page.id }}"></v-product-page-calc>
            </div>
        {% endblock buttons %}
    {% endembed %}
    <div class="container">
        <h2>Рекомендуемые образцы:</h2>
        {{ include('modules/_catalog_complex.html.twig') }}
    </div>
    
    {{ include('modules/_seo_block.html.twig') }}
{% endblock %}
