{% extends 'base.html.twig' %}
{% block title page.title %}
{% block h1 page.name %}
{% block description page.description %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('main') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('main') }}
{% endblock %}

{% block body %}
    <div class="block3 calcblock">
        <div class="container">
            <div class="zag">{{ page.name }}</div>
            <div id="app">
                <main-page-calc :type_filter="{{ type_filter|json_encode }}"></main-page-calc>
            </div>

        </div>
    </div>
{% endblock %}
