{% extends 'base.html.twig' %}
{% block title page.name %}
{% block h1 %}{{ page.name }}{% endblock %}
{% block body %}
    <div class="container">
        <h2>{{ page.name }}</h2>
        <div class="text-decr">
            <p>Компания «Мастерская Жалюзи» занимается профессиональным изготовлением и монтажом жалюзи всех типов, рулонных штор, рольставней, маркиз, москитных сеток.</p>

            <p>Наша фирма имеет собственное производство, на котором собирается и тестируется вся выпускаемая продукция.</p>

            <p>Мы применяем современные технологии в области защиты от солнца и непогоды, а так же стильный дизайн окон, террас, кафе, ресторанов, офисов, особняков, дач и загородных домов.</p>

            <p>Коллектив профессионалов компании&nbsp;предлагает своим клиентам:</p>

            <ul>
                <li>Продажа продукции по всей России</li>
                <li>Индивидуальный подход в решении нестандартных проектов</li>
                <li>Кратчайшие сроки выполнения заказов</li>
                <li>Гарантийное и послегарантийное обслуживание</li>
                <li>Профессиональный монтаж</li>
                <li>Бесплатный выезд нашего специалиста в пределах МКАД</li>
                <li>Оперативный сервис персонала офиса</li>
            </ul>

            <p>&nbsp;</p>

        </div>
    </div>
    {{ include('modules/rating.html.twig') }}
    {{ include('modules/_employees.html.twig') }}
    {{ include('modules/_clients.html.twig') }}
{% endblock %}
