{% extends 'base.html.twig' %}

{% block title %}Жалюзи на окна купить в Москве. Каталог и цены - Мастерская Жалюзи{% endblock %}
{% block h1 %}ЖАЛЮЗИ НА ОКНА ОТ ПРОИЗВОДИТЕЛЯ{% endblock %}
{% block description %}Жалюзи на окна купить недорого в Москве. ⭐ Выезд и замер бесплатно! ✅ Изготовление жалюзи с установкой за 1-4 дня. ✅ Гарантия 2 года. ⭐ Жалюзи по низким ценам в интернет магазине «Мастерская жалюзи» ☎ 8-800-775-72-38.{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('main') }}
{% endblock %}
{% block utp %}
    {{ include('catalog/zhalyuzi/_upt.html.twig') }}
{% endblock %}
{% block breadcrumbs_block %}{% endblock %}
{% block body %}
    
    {{ include('modules/_order.html.twig') }}
    {{ include('modules/rating.html.twig') }}
    {{ include('modules/_calculator.html.twig') }}
    {{ include('modules/recommended-main-page.html.twig') }}
    {{ include('modules/_advantages.html.twig') }}
    {{ include('modules/_employees.html.twig') }}
    <div class="mt-2">
        <h2 class="text-center">Примеры работ</h2>
        {{ work_example() }}
    </div>
    {{ include('modules/_clients.html.twig') }}
    {{ include('modules/_locations.html.twig') }}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('main') }}
{% endblock %}
