{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <div class="content py-3">
        {% if created is not empty %}
            <div class="container-fluid">
                <h2>Созданные товары</h2>
                <ul>
                    {% for uri in created %}
                        {% set url = app.request.schemeAndHttpHost~uri %}
                        <li><a href="{{ url }}" target="_blank">{{ url }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if updated is not empty %}
            <div class="container-fluid">
                <h2>Обновленные товары</h2>
                <ul>
                    {% for uri in updated %}
                        {% set url = app.request.schemeAndHttpHost~uri %}
                        <li><a href="{{ url }}" target="_blank">{{ url }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    
        <div class="container-fluid">
            <div class="alert alert-warning">Последовательность столбцов: Название фото, Название товара, Цвет, Цена в USD (ID матрицы), Категория (Econom/Standart/Lux)
            </div>
            <div class="row">
                <form method="post" id="admin_form" class="w-100" enctype="multipart/form-data">
                
                    <div class="form-group">
                        <input type="submit" value="Импортировать" class="btn btn-info ml-3">
                    </div>
                    {{ form_widget(form) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}