{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('catalog') }}
    {{ encore_entry_link_tags('simple_catalog') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('catalog') }}
    {{ encore_entry_script_tags('simple_catalog') }}
{% endblock %}

{% block title %}
    {%- if page.title -%}
        {{ page.title }}
    {%- endif -%}
{% endblock %}
{% block description -%}
    {{ page.description }}
{%- endblock %}
{% block h1 %}{{ page.name }} в $city_prepositional{% endblock %}

{% block body %}
    <div id="content" class="container catalog-container">
        <div class="row catalog-calculator">
            <div class="col-12">
                <h2>Вы искали: "{{ search }}"</h2>
                {% if products|length > 0 %}
                    {{ include('catalog/blocks/products.html.twig') }}
                {% else %}
                    <p>Ничего не найдено...</p>
                {% endif %}
            </div>
        </div>
    
    </div>
    
    {{ include('modules/_employees.html.twig') }}
    {{ include('modules/_clients.html.twig') }}
{% endblock %}