{% extends 'base.html.twig' %}
{% block title page.title %}
{% block h1 page.name %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 content">
                
                <div class="row">
                    <div class="col-md-12">
                        <h2>{{ page.name }}</h2>
                    </div>
                </div>
                <div class="row content">
                    {% for article in articles %}
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card mt-3">
                                <div class="card-header">
                                    <h3>{{ article.name }}</h3>
                                    <p>{{ article.createdAt|date('d.m.Y') }}</p>
                                </div>
                                <img class="card-img" src="{{ article.cardImageUrl }}" alt="{{ article.name }}">
                                <div class="card-body">
                                    <div class="card-text">{{ article.cardDescription }}</div>
                                </div>
                                <div class="card-footer">
                                    <div class="row justify-content-between">
                                        <a href="{{ article.path }}" class="btn btn-primary">Подробнее</a>
                                        <div class="views_counter">
                                            {{ 'articles.counter_text'|trans({'%count%': article.views}) }}
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="navigation mt-3">
                    {{ knp_pagination_render(articles) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}