<!--начало блока ПРЕИМУЩЕСТВА С ВИДИОФОНОМ-->
<div {{ lazy_load_bg('/img/3.jpg',['block4']) }}>

    <div class="preim-wrap">
        <div class="container">
            <h2 class="zag1">Преимущества</h2>
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 scroll-item panim">
                    <div class="preim preim1">
                        <div class="preim-img"><img {{ lazy_load('img/preim/1.png') }} alt="*"></div>
                        <div class="preim-zag">Быстрый монтаж</div>
                        <div class="preim-text">Изготовление и установка жалюзи за 1-3 дня.</div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 scroll-item panim">
                    <div class="preim preim1">
                        <div class="preim-img"><img {{ lazy_load('img/preim/2.png') }} alt="*"></div>
                        <div class="preim-zag">Бесплатный замер</div>
                        <div class="preim-text">Выезда замерщика на дом с 9.00 до 18.00 - бесплатно!</div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 scroll-item panim">
                    <div class="preim preim1">
                        <div class="preim-img"><img {{ lazy_load('img/preim/3.png') }} alt="*"></div>
                        <div class="preim-zag">Скидки от 7%</div>
                        <div class="preim-text">Предоставляем лучшие цены в Москве и Московской области.</div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 scroll-item panim">
                    <div class="preim preim1">
                        <div class="preim-img"><img {{ lazy_load('img/preim/4.png') }} alt="*"></div>
                        <div class="preim-zag">Более 10 лет на рынке</div>
                        <div class="preim-text">Собственное производство и огромный опыт.</div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 scroll-item panim">
                    <div class="preim preim1">
                        <div class="preim-img"><img {{ lazy_load('img/preim/5.png') }} alt="*"></div>
                        <div class="preim-zag">Гарантия 2 года</div>
                        <div class="preim-text">На все жалюзи мы предоставляем гарантию.</div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 scroll-item panim">
                    <div class="preim preim1">
                        <div class="preim-img"><img {{ lazy_load('img/preim/6.png') }} alt="*"></div>
                        <div class="preim-zag">Работаем честно</div>
                        <div class="preim-text">Гарантируем качество материалов и изделий.</div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 offset-lg-2 offset-xl-0 col-md-6">
                    <div class="preim preim1">
                        <div class="preim-img"><img {{ lazy_load('img/preim/7.png') }} alt="*"></div>
                        <div class="preim-zag">Работаем 24/7</div>
                        <div class="preim-text">Выезд замерщика и монтаж осуществляется круглосуточно и без выходных.</div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 scroll-item panim">
                    <div class="preim preim1">
                        <div class="preim-img"><img {{ lazy_load('img/preim/8.png') }} alt="*"></div>
                        <div class="preim-zag">До 150 км от Москвы</div>
                        <div class="preim-text">Доставка и монтаж жалюзи по всей Московской области.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--конец блока ПРЕИМУЩЕСТВА С ВИДИОФОНОМ-->