{% if page.cardDescription %}
    {% embed 'embedded/card.html.twig' %}
        {% block image %}<img {{ lazy_load(page.cardImageUrl) }} alt="{{ page.name }}">{% endblock image %}
        {% block header %}{{ page.name }} цена{% endblock header %}
        {% block content %}
            {{ page.cardDescription|raw }}
        {% endblock content %}

        {% block footer %}
            <div class="cart-footer-zag">
                Цена от {{ discounted_price(catalog_min_price(page.uri)) }} {{ page.units }}
            </div>
        {% endblock footer %}
    {% endembed %}
{% endif %}