<!--Подвал начало-->
<div class="footer">
    <div class="container container2">
        <div class="row">
            <div class="col-lg-3 col-sm-4 footer-logo align-self-center">
                <div class="footer-logo-img">
                    <img src="/img/logo.webp" alt="11">
                </div>
                <div class="footer-text"><span>jaluse.ru © 2010-{{ 'now'|date('Y') }}</span>
                </div>
                <div class="mbtn">Заказать звонок</div>

                <noindex>
                    <p class="mt-1">
                        Обратите внимание на то, что данный интернет-ресурс (в том числе указанные цены) носит исключительно ознакомительный характер, и ни при каких условиях не является публичной офертой. Стоимость меняется в зависимости от типа и конструкции изделия.
                    </p>
                </noindex>
            </div>

            <div class="col-lg-3 col-sm-4 col-6 footer-nav">
                {% if isMainDomain %}
                    <a href="{{ path('simple_catalog_districts') }}" class="footer-nav-ssli">Районы жалюзи</a>
                {% endif %}
                <a href="{{ path('simple_page_o_kompanii') }}" class="footer-nav-ssli">О компании</a>
                <a href="{{ path('simple_page_zakaz_zhalyuzi') }}" class="footer-nav-ssli">Как заказать</a>
                <a href="{{ path('simple_page_video_jaluse') }}" class="footer-nav-ssli">Видео</a>
                <a href="{{ path('simple_page_confidence-policy') }}"
                   class="footer-nav-ssli">Политика конфиденциальности</a>
                <a href="{{ path('simple_page_optom') }}" class="footer-nav-ssli">Сотрудничество</a>
                <a href="{{ path('simple_page_kontaktyi') }}" class="footer-nav-ssli">Контакты</a>
                <a href="{{ path('simple_page_yuridicheskim-licam') }}" class="footer-nav-ssli">Юридическим лицам</a>
                {% if isMainDomain %}
                    <a href="{{ path('articles_index') }}" class="footer-nav-ssli">Статьи</a>
                {% endif %}
                {{ premium_link(page) }}
                {{ no_drill_link(page) }}
                <a href="{{ path('simple_page_incities') }}" class="footer-nav-ssli">В городах</a>
            </div>
            <div class="col-lg-3 col-sm-4 col-6 footer-nav">
                {% if isMainDomain %}
                    <a href="{{ path('simple_catalog_rulonnyie_shtoryi_districts') }}"
                       class="footer-nav-ssli">Районы рулонные шторы</a>
                    <a href="{{ path('sitemap_html') }}" class="footer-nav-ssli">Карта сайта</a>
                {% endif %}
                <a href="/zhalyuzi/" class="footer-nav-ssli">Жалюзи</a>
                <a href="/rulonnyie-shtoryi/" class="footer-nav-ssli">Рулонные шторы</a>
                <a href="/rimskies/" class="footer-nav-ssli">Римские шторы</a>
                <a href="/markizyi/" class="footer-nav-ssli">Маркизы</a>
                <a href="/rolstavni/" class="footer-nav-ssli">Рольставни</a>
                <a href="" class="footer-nav-ssli">Шторы ПВХ</a>
                <a href="{{ path('simple_page_pay') }}" class="footer-nav-ssli">Оплата</a>
                {{ with_installation_link(page) }}
                {{ for_order_link(page) }}
            </div>
            <div class="col-lg-3 footer-form">
                <div class="footer-zag">Ответим на все вопросы</div>
                <form action="{{ path('mail.callback_consultation') }}" method="post" class="phone_callback">
                    <input type="text" class="phone-field" name="phone" placeholder="Номер телефона" required="">
                    <input type="submit" class="mbtn">
                    <input type="hidden" name="token" value="{{ csrf_token('consultation') }}" />
                </form>
            </div>
        </div>
    </div>
</div>
<!--Подвал конец-->