<!--ШАПКА начало-->
<div class="header">
    <div class="header-n1">
        <div class="container ">
            <div class="row">
                <div class="header-n1-logo col-xl-4 col-lg-5 col-md-4 col-sm-5 col-6 align-self-center">
                    <a href="/"><img {{ lazy_load('/img/logo/logo.png') }} alt="*"></a>
                </div>
                <div class="header-n1-modphone col-1 align-self-center">
                    <a href="javascript:void(0)" class="js-search_input_toggle search_input_toggle mr-1">🔎</a>
        
                    <a href="tel:88007757238">
                        <img {{ lazy_load('/img/phone.webp') }} alt="#">
                    </a>
                </div>
                
                <div class="header-n1-menu col-xl-3 col-lg-3 align-self-center">
                    <div class="row">
                        <div class="col-6 header-n1-menu__item"><a href="{{ path('simple_page_dostavka') }}"
                                                                   class="header-n1-menu-ssil ">Доставка</a></div>
                        <div class="col-6 header-n1-menu__item"><a href="{{ path('simple_page_uslugi') }}"
                                                                   class="header-n1-menu-ssil2 header-n1-menu-ssil">Услуги</a>
                        </div>
                        <div class="col-6 header-n1-menu__item"><a href="{{ path('simple_page_pay') }}"
                                                                   class="header-n1-menu-pay header-n1-menu-ssil">Оплата</a>
                        </div>
                        <div class="col-6 header-n1-menu__item"><a href="{{ path('simple_page_kontaktyi') }}"
                                                                   class="header-n1-menu-ssil3 header-n1-menu-ssil">Контакты</a>
                        </div>
                    </div>
                
                </div>
                <div class="col-xl-2 header-n1-phone header-n1-phone1 align-self-center">
                    <a href="tel:88007757238" class="header-n1-phone-phone">8-800-775-72-38</a>
                    <p>Звонок бесплатный</p>
                    <p><a href="/yuridicheskim-licam/">Юридическим лицам </a></p>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-5 header-n1-phone align-self-center">
                    <div class="row">
                        <div class="col-lg-9 col-md-12">
                            <b><a href="tel:74959843848" class="header-n1-phone-phone">+7 (495) 984-38-48</a></b>
                            <small>e-mail:</small><a class="header-n1-phone-mail"
                                                     href="mailto:info@jaluse.ru">info@jaluse.ru</a>
                            <p><span style="color:#007bff;">Круглосуточно, 24/7</span></p>
                        </div>
                        <div class="col-lg-3 d-none d-lg-flex">
                            <div class="social_icons">
                                <div class="social_icons__icon_whatsapp social_icons__icon">
                                    <a href="https://wa.me/{{ get_config_cached('whatsapp.phone') }}"
                                       title="Написать на Whatsapp"
                                       target="_blank"></a>
                                </div>
                                <div class="social_icons__icon_insta social_icons__icon">
                                    <a href="https://www.instagram.com/jaluse_ru/" title="Instagram"
                                       target="_blank"></a>
                                </div>
                            </div>
                            <div class="social_icons pt-1">
                                <a href="javascript:void(0)" class="js-search_input_toggle search_input_toggle">🔎</a>
                                <div class="social_icons__icon_youtube social_icons__icon">
                                    <a href="https://www.youtube.com/channel/UCJQ7hXqwIfY2RhNa8h1Hacg" title="Youtube"
                                       target="_blank"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="headerpoisk col-3 align-self-center">8(800)775-72-38</div>
                <div class="headermbtn col-2 align-self-center"><img {{ lazy_load('/img/burger.webp') }} alt="*"
                                                                                                         data-menu-visible="#mobile-menu-container">
                </div>
            </div>
        </div>
    </div>
    <div class="header-n2">
        <div class="container">
            <div class="header-n2-menu">
                <div class="vip-menu-wrap menu-wrap">
                    <a href="/zhalyuzi/">Жалюзи</a>
                    <div class="vip-menu vip-menu1">
                        <div class="container">
                            <div class="row">
                                <div class="menu-card col-lg-3">
                                    <a href="/zhalyuzi/vertikalnye/">
                                        <img {{ lazy_load('/img/zhalyuzi-vertikalnue.png') }} alt="*">
                                        <span class="zag">Вертикальные жалюзи</span>
                                        <span class="cena"><b>₽ </b>от {{ discounted_price(catalog_min_price('zhalyuzi/vertikalnye')) }} руб</span>
                                        <span class="vidi">
												<span class="vidi-zag">Виды:</span>
												<ul>
													<li>Пластиковые</li>
													<li>Тканевые</li>
												</ul>
											</span>
                                        <span class="titles">Монтаж без сверления</span>
                                    </a>
                                </div>
                                <div class="menu-card col-lg-3">
                                    <a href="/zhalyuzi/gorizontalnye/">
                                        <img {{ lazy_load('/img/zhalyuzi-gorizontalnue.png') }} alt="*">
                                        <span class="zag">Горизонтальные Жалюзи</span>
                                        <span class="cena"><b>₽ </b>от {{ discounted_price(catalog_min_price('zhalyuzi/gorizontalnye')) }} руб</span>
                                        <span class="vidi vidib2">
												<span class="vidi-zag">Виды:</span>
												<ul>
													<li>Алюминиевые</li>
													<li>Деревянные</li>
												</ul>
											</span>
                                        <span class="titles">Монтаж без сверления</span>
                                    </a>
                                </div>
                                <div class="menu-card col-lg-3">
                                    <a href="/zhalyuzi/plisse/">
                                        <img {{ lazy_load('/img/jaluzi-plisse.png') }} alt="*">
                                        <span class="zag">Плиссе</span>
                                        <span class="cena"><b>₽ </b>от {{ discounted_price(catalog_min_price('zhalyuzi/plisse')) }} руб</span>
                                        <p>
                                            <b>Более 150 образцов <br> и цветовой гаммы</b>
                                            <br><br><br>
                                            <br><br>
                                        </p>
                                
                                        <span class="titles">Монтаж без сверления</span>
                                    </a>
                                </div>
                                <div class="menu-card col-lg-3">
                                    <a href="/zhalyuzi/">
                                        <img {{ lazy_load('/img/jaluzi-na-okna.png') }} alt="*">
                                        <span class="zag">Жалюзи на окна ПВХ</span>
                                        <span class="cena"><b>₽ </b>от {{ discounted_price(catalog_min_price('zhalyuzi/vertikalnye')) }} руб</span>
                                        <p><b>Лучшие образцы и виды жалюзи для пластиковых окон</b>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                        </p>
                                        <span class="titles">Монтаж без сверления</span>
                                    </a>
                                </div>
                        
                                <div class="bigtitle">
                                    <span> ВСЕ ИЗДЕЛИЯ ИМЕЮТ ВОЗМОЖНОСТЬ МОНТАЖА БЕЗ СВЕРЛЕНИЯ!</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="vip-menu-wrap menu-wrap">
                    <a href="/rulonnyie-shtoryi/">Рулонные шторы</a>
                    <div class="vip-menu vip-menu2">
                        <div class="container">
                            <div class="row">
                                <div class="menu-card col-lg-3">
                                    <a href="/rulonnyie-shtoryi/mini/">
                                        <img {{ lazy_load('/img/mini1.png') }} alt="*">
                                        <span class="zag">мини</span>
                                        <span class="cena"><b>₽ </b>от {{ discounted_price(catalog_min_price('rulonnyie-shtoryi/mini')) }} руб</span>
                                        <p>Самый доступный вариант рулонных штор! <br> Более 300 видов тканей</p>
                                        <span class="titles">Монтаж без сверления</span>
                                    </a>
                                </div>
                                <div class="menu-card col-lg-3">
                                    <a href="/rulonnyie-shtoryi/uni/">
                                        <img {{ lazy_load('/img/uni1.png') }} alt="*">
                                        <span class="zag">Кассетные уни</span>
                                        <span class="cena"><b>₽ </b>от {{ discounted_price(catalog_min_price('rulonnyie-shtoryi/uni')) }} руб</span>
                                        <p>Шторы с вертикальным направляющим и коробом <br> Более 300 видов тканей</p>
                                        <span class="titles">Монтаж без сверления</span>
                                    </a>
                                </div>
                                <div class="menu-card col-lg-3">
                                    <a href="/rulonnyie-shtoryi/den-noch-uni-2/">
                                        <img {{ lazy_load('/img/den-noch1.png') }} alt="*">
                                        <span class="zag">День-ночь</span>
                                        <span class="cena"><b>₽ </b>от {{ discounted_price(catalog_min_price('rulonnyie-shtoryi/den-noch-uni-2')) }} руб</span>
                                        <p>Оригинальный внешний вид и практичность <br> Более 80 видов тканей</p>
                                        <span class="titles">Монтаж без сверления</span>
                                    </a>
                                </div>
                                <div class="menu-card col-lg-3">
                                    <a href="/rulonnyie-shtoryi/standartnye-rulonnye-shtory/">
                                        <img {{ lazy_load('/img/svobodnovisiachie.png') }} alt="*">
                                        <span class="zag">Стандартные</span>
                                        <span class="cena"><b>₽ </b>от {{ discounted_price(catalog_min_price('rulonnyie-shtoryi/standartnye-rulonnye-shtory')) }} руб</span>
                                        <p>100% светонепроницаемые рулонные шторы полностью блокируют солнечные лучи. </p>
                                        <span class="titles">Монтаж без сверления</span>
                                    </a>
                                </div>
                        
                                <div class="bigtitle">
                                    <span> ВСЕ ИЗДЕЛИЯ ИМЕЮТ ВОЗМОЖНОСТЬ МОНТАЖА БЕЗ СВЕРЛЕНИЯ!</span>
                                </div>
                            </div>
                
                        </div>
                    </div>
                </div>
                <div class="vip-menu-wrap menu-wrap">
                    <a href="/rimskies/">Римские шторы</a>
                </div>
                <div class="vip-menu-wrap menu-wrap">
                    <a href="/markizyi/">Маркизы</a>
                </div>
                <div class="vip-menu-wrap menu-wrap">
                    <a href="/rolstavni/">Рольставни</a>
                </div>
                <div class="vip-menu-wrap menu-wrap">
                    <a href="/shtory-dlya-besedok-i-verand/shtory-pvh/">Шторы ПВХ</a>
                </div>
                <div class="vip-menu-wrap menu-wrap headern2phone">
                    <a href="tel:74959843848">+7 (495) 984-38-48</a>
                </div>
                <div class="vip-menu-wrap menu-wrap social_icons header-search">
                    <a href="javascript:void(0)" class="js-search_input_toggle search_input_toggle">🔎</a>
                </div>
                <div class="menu-wrap menu-none"><a href="{{ path('simple_page_dostavka') }}">Доставка</a></div>
                <div class="menu-wrap menu-none"><a href="{{ path('simple_page_pay') }}">Оплата</a></div>
                <div class="menu-wrap menu-none"><a href="{{ path('simple_page_uslugi') }}">Услуги</a></div>
                <div class="menu-wrap menu-none"><a href="{{ path('simple_page_kontaktyi') }}">Контакты</a></div>

            </div>
        </div>
    </div>
    {{ include('modules/mobile_menu.html.twig') }}
</div>
<!--ШАПКА конец-->