{% set target = (newPage ?? true) ? 'target="_blank"' %}
<div class="recommended_products">
    {% for item in items %}
        {% if item.cardImageUrl is not empty %}
            <div class="product_wrapper">
                <div class="product">
                    <a href="/{{ item.uri }}/" {{ target }} >
                        {% if needWrapper ?? true %}
                        <div class="product__image_wrapper">
                            {% endif %}
                            <img {{ lazy_load(asset(item.cardImageUrl) | imagine_filter('catalog_thumb')) }}
                                    alt="{{ item.imageAlt }}"
                                    title="{{ item.imageTitle }}"
                            >
                            {% if needWrapper ?? true %}
                        </div>
                        {% endif %}
                    </a>
                    <div class="product__name">
                        <a href="/{{ item.uri }}/" {{ target }}>{{ item.shortName }}</a>
                    </div>
                    <div class="product__price">
                        {{ min_price(item, false, true) }}
                    </div>
                    {{ include('modules/_callback_buttons.html.twig') }}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% if not hideCatalog|default(false) %}
    <div class="catalog_button">
        <a class="mbtn" href="/zhalyuzi/#content">Каталог</a>
    </div>
{% endif %}

{% if locationsCatalog|default(false) %}
    <div class="catalog_button">
        <a class="mbtn" href="{{ locationsCatalog.path }}#content">Показать еще</a>
    </div>
{% endif %}
