{% set catalogs = page.popularCategories %}
{% if catalogs|length > 0 %}
    <div class="popular-category section">
        <div class="container">
            <h2 class="text-center">Жалюзи на пластиковые окна</h2>
            <div class="category-area row">
                {% for label, uri in catalogs %}
                    <div class="grid-item col-xl-4 col-md-6 col-12 {{ loop.index > 3 ? "hidden-category js-hidden-category" }}">
                        <a class="category"
                           href="/{{ uri }}/#content"
                        >
                            <img
                                    {{ lazy_load("/img/popular-category/"~label~".jpg") }}
                                    alt="{{ label }}"
                            >
                            <p class="title">{{ label }} от {{ discounted_price(catalog_min_price(uri)) }} руб</p>
                        </a>
                    </div>

                {% endfor %}
                <button class="mbtn show-more js-popular-category-show-more">Показать все</button>
            </div>
        </div>
    </div>
{% endif %}
