{% set catalogs = page.popularCategories %}
{% if catalogs|length > 0 %}
    <div class="popular-category section">
        <div class="container">
            <h2 class="text-center">{{ page.name }}</h2>
            <div class="category-area">
                {% for label, uri in catalogs %}
                    <div class="grid-item">
                        <a class="category"
                           href="/{{ uri }}/#content"
                        >
                            <img
                                    {{ lazy_load("/img/popular-category/"~label~".jpg") }}
                                    alt="{{ label }}" title="{{ label }}"
                            >
                            <p class="title">{{ label }} от {{ discounted_price(catalog_min_price(uri)) }} руб</p>
                        </a>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
