<!--начало блока ПРЕИМУЩЕСТВА С ВИДИОФОНОМ-->
<div>

    <div>
        <div>
            <h2>Преимущества</h2>
            <div>
                <div>
                    <div>
                        <div><img src="{{ app.request.schemeAndHttpHost }}/img/preim/1.png" alt="*" /></div>
                        <div>Изготовление и установка жалюзи за 2-5 рабочих дня.</div>
                    </div>
                </div>
                <div>
                    <div>
                        <div><img src="{{ app.request.schemeAndHttpHost }}/img/preim/2.png" alt="*"></div>
                        <div>Выезда замерщика на дом с 9.00 до 18.00 - бесплатно!</div>
                    </div>
                </div>
                <div>
                    <div>
                        <div><img src="{{ app.request.schemeAndHttpHost }}/img/preim/3.png" alt="*"></div>
                        <div>Скидки от 7% при заказе на сайте</div>
                    </div>
                </div>
                <div>
                    <div>
                        <div><img src="{{ app.request.schemeAndHttpHost }}/img/preim/4.png" alt="*"></div>
                        <div>Собственное производство и огромный опыт.</div>
                    </div>
                </div>
                <div>
                    <div>
                        <div><img src="{{ app.request.schemeAndHttpHost }}/img/preim/5.png" alt="*"></div>
                        <div>На все жалюзи мы предоставляем гарантию 2 года</div>
                    </div>
                </div>
                <div>
                    <div>
                        <div><img src="{{ app.request.schemeAndHttpHost }}/img/preim/6.png" alt="*"></div>
                        <div>Гарантируем качество материалов и изделий. Работаем честно</div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 offset-lg-2 offset-xl-0 col-md-6">
                    <div>
                        <div><img src="{{ app.request.schemeAndHttpHost }}/img/preim/7.png" alt="*"></div>
                        <div>Выезд замерщика и монтаж осуществляется круглосуточно и без выходных.</div>
                    </div>
                </div>
                <div>
                    <div>
                        <div><img src="{{ app.request.schemeAndHttpHost }}/img/preim/8.png" alt="*"></div>
                        <div>Доставка и монтаж по всей Московской области. До 150 км от Москвы</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--конец блока ПРЕИМУЩЕСТВА С ВИДИОФОНОМ-->