<!--начало блока ПРЕИМУЩЕСТВА С ВИДИОФОНОМ-->
<div>

    <div>
        <div>
            <h2>Преимущества</h2>
            <div>
                <div>
                    <div>
                        <div><img src="{{ app.request.schemeAndHttpHost }}/img/preim/1.png" alt="*" /></div>
                        <div>Быстрый монтаж</div>
                        <hr />
                        <div>Изготовление и установка жалюзи за 2-5 рабочих дня.</div>
                    </div>
                </div>
                <div>
                    <div>
                        <div><img src="{{ app.request.schemeAndHttpHost }}/img/preim/2.png" alt="*"></div>
                        <div>Бесплатный замер</div>
                        <hr />
                        <div>Выезда замерщика на дом с 9.00 до 18.00 - бесплатно!</div>
                    </div>
                </div>
                <div>
                    <div>
                        <div><img src="{{ app.request.schemeAndHttpHost }}/img/preim/3.png" alt="*"></div>
                        <div>Скидки от 7%</div>
                        <hr />
                        <div>Предоставляем лучшие цены в Москве и Московской области.</div>
                    </div>
                </div>
                <div>
                    <div>
                        <div><img src="{{ app.request.schemeAndHttpHost }}/img/preim/4.png" alt="*"></div>
                        <div>Более 10 лет на рынке</div>
                        <hr />
                        <div>Собственное производство и огромный опыт.</div>
                    </div>
                </div>
                <div>
                    <div>
                        <div><img src="{{ app.request.schemeAndHttpHost }}/img/preim/5.png" alt="*"></div>
                        <div>Гарантия 2 года</div>
                        <hr />
                        <div>На все жалюзи мы предоставляем гарантию.</div>
                    </div>
                </div>
                <div>
                    <div>
                        <div><img src="{{ app.request.schemeAndHttpHost }}/img/preim/6.png" alt="*"></div>
                        <div>Работаем честно</div>
                        <hr />
                        <div>Гарантируем качество материалов и изделий.</div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 offset-lg-2 offset-xl-0 col-md-6">
                    <div>
                        <div><img src="{{ app.request.schemeAndHttpHost }}/img/preim/7.png" alt="*"></div>
                        <div>Работаем 24/7</div>
                        <hr />
                        <div>Выезд замерщика и монтаж осуществляется круглосуточно и без выходных.</div>
                    </div>
                </div>
                <div>
                    <div>
                        <div><img src="{{ app.request.schemeAndHttpHost }}/img/preim/8.png" alt="*"></div>
                        <div>До 150 км от Москвы</div>
                        <hr />
                        <div>Доставка и монтаж жалюзи по всей Московской области.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--конец блока ПРЕИМУЩЕСТВА С ВИДИОФОНОМ-->