<div class="card">
    <h2>{{ page.cardHeader }}</h2>
    <img src="{{ app.request.schemeAndHttpHost }}{{ page.cardImageUrl }}" alt="*">
    {{ page.textComputed|raw }}
    <hr />
    <h3><b>Цена от {{ discounted_price(catalog_min_price('vertikalnye-zhalyuzi-na-okna')) }} руб/м2</b></h3>
</div>