<!--начало блока ПРЕИМУЩЕСТВА С ВИДИОФОНОМ-->
<div {{ lazy_load_bg('/img/markisy-advantages.jpg',['block4']) }}>

    <div class="preim-wrap">
        <div class="container">
            <h2 class="zag1">Преимущества</h2>
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="preim preim1">
                        <div class="preim-img"><img {{ lazy_load('/img/preim/markizyi/1.png') }} alt="*"></div>
                        <div class="preim-zag">Изготовление маркиз 3-5 дней</div>
                        <div class="preim-text">Изготовим маркизы любой сложности за 3-5 рабочих дня</div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="preim preim1">
                        <div class="preim-img"><img {{ lazy_load('/img/preim/markizyi/2.png') }} alt="*"></div>
                        <div class="preim-zag">Большой ассортимент</div>
                        <div class="preim-text">Огромный выбор материалов и цветов на складе в наличии</div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="preim preim1">
                        <div class="preim-img"><img {{ lazy_load('/img/preim/markizyi/3.png') }} alt="*"></div>
                        <div class="preim-zag">Гарантия качества</div>
                        <div class="preim-text">Высокое европейское качество комплектующих и тканей</div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="preim preim1">
                        <div class="preim-img"><img {{ lazy_load('/img/preim/markizyi/4.png') }} alt="*"></div>
                        <div class="preim-zag">Собственное производство маркиз</div>
                        <div class="preim-text">Мы являемся Российским производителем маркиз</div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="preim preim1">
                        <div class="preim-img"><img {{ lazy_load('/img/preim/markizyi/5.png') }} alt="*"></div>
                        <div class="preim-zag">Свой штат специалистов</div>
                        <div class="preim-text">Собственный инженерно-конструкторский отдел</div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="preim preim1">
                        <div class="preim-img"><img {{ lazy_load('/img/preim/markizyi/6.png') }} alt="*"></div>
                        <div class="preim-zag">Маркизы любой сложности</div>
                        <div class="preim-text">Выполнение нестандартных и сложных задач</div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 offset-lg-2 offset-xl-0 col-md-6">
                    <div class="preim preim1">
                        <div class="preim-img"><img {{ lazy_load('/img/preim/markizyi/7.png') }} alt="*"></div>
                        <div class="preim-zag">Удобная доставка маркиз</div>
                        <div class="preim-text">Осуществляем доставку маркиз во все регионы РФ</div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="preim preim1">
                        <div class="preim-img"><img {{ lazy_load('/img/preim/markizyi/8.png') }} alt="*"></div>
                        <div class="preim-zag">Профессиональный монтаж</div>
                        <div class="preim-text">Возьмем на себя все сложности по установке маркиз</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--конец блока ПРЕИМУЩЕСТВА С ВИДИОФОНОМ-->