{% extends 'simple_catalog/item.html.twig' %}

{% block utp %}
    {{ include('simple_catalog/markizyi/_upt.html.twig') }}
{% endblock %}

{% block body %}
    {% embed 'embedded/card.html.twig' %}
        {% block image %}<img {{ lazy_load(page.cardImageUrl) }} alt="{{ page.name }}">{% endblock image %}
        {% block header %}{{ page.name }} цена{% endblock header %}
        {% block content %}{{ page.cardDescription|raw }}{% endblock content %}
        {% block footer %}
            <div class="cart-footer-zag">Цена
                {% if area??false %}
                    {{ page.price }} руб/м2
                {% else %}
                    от {{ page.price }} руб
                {% endif %}</div>
        {% endblock footer %}
    {% endembed %}
    <noindex>{{ include('simple_catalog/markizyi/_advantages.html.twig') }}</noindex>
    {{ include('modules/_our_works.html.twig') }}
    {{ include('modules/rating.html.twig') }}
    {{ include('modules/_seo_block.html.twig') }}
    {{ include('modules/_employees.html.twig') }}
{% endblock %}

