{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('simple_catalog') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('simple_catalog') }}
{% endblock %}

{% block title %}
    {%- if page.title -%}
        {{ page.title }}
    {%- else -%}
        {{ page.name }} цена. Купить в «Мастерская Жалюзи»
    {%- endif -%}
{% endblock %}

{% block description %}
    {%- if page.description -%}
        {{ page.description }}
    {%- else -%}
        {{ page.name }} купить от производителя в Москве. ⭐ Выезд и замер бесплатно! ✅ Изготовление с установкой за 1-4 дня. ✅ Гарантия 2 года. ⭐ {{ page.name }} по низким ценам в интернет магазине «Мастерская жалюзи» ☎ 8-800-775-72-38.
    {%- endif -%}
{% endblock %}

{% block h1 %}{{ page.name }}{% endblock %}

{% block body %}
    {% embed 'embedded/card.html.twig' %}
        {% block image %}<img {{ lazy_load(page.cardImageUrl) }} alt="{{ page.name }}">{% endblock image %}
        {% block header %}{{ page.name }} цена{% endblock header %}
        {% block content %}{{ page.cardDescription|raw }}{% endblock content %}
        {% block footer %}
            <div class="cart-footer-zag">Цена
                {% if area??false %}
                    {{ page.price }} руб/м2
                {% else %}
                    от {{ page.price }} руб
                {% endif %}</div>
        {% endblock footer %}
    {% endembed %}
    {{ include('modules/_our_works.html.twig') }}
    {{ include('modules/_seo_block.html.twig') }}
{% endblock %}
