{% if items is not empty %}
    <div class="job">
        {% for item in items %}
            <div class="row row--job" data-job-id="{{ loop.index }}" data-filters="{{ item.filters|join(',') }}">
                <div class="job_col col-12 col-lg-6">
                    <div class="job_pad">
                        <h2 class="job_title">{{ item.name }}</h2>

                        <div class="description hide-mobile">
                            {{ include('widget/work-example-description.html.twig') }}
                        </div>
                        <div class="d-none d-lg-flex">
                            <div class="work_example_button_wrapper col-lg-4">
                                {% if item.product %}
                                    <a href="{{ item.product.path }}" class="mbtn">Хочу такие же</a>
                                {% endif %}
                            </div>
                            <div class="work_example_button_wrapper col-lg-4">
                                <a href="{{ item.catalog.path }}" class="mbtn mbtn_orange">Каталог</a>
                            </div>
                            <div class="work_example_button_wrapper col-lg-4">
                                <div class="mbtn mbtn js-modal-open">Консультация</div>
                            </div>
                        </div>
                        <div class="work_example_button_wrapper d-lg-none">
                            <div class="job_next mbtn">Следующая работа</div>
                        </div>
            
                    </div>
                </div>
                <div class="job_col col-12 col-lg-6">
                    <div class="fotorama" data-autoplay="true">
                        {% for image in item.images %}
                            <img src="{{ asset(image) }}" alt="*" />
                        {% endfor %}
                    </div>
                </div>
                <div class="row col-12 d-none d-lg-flex justify-content-center">
                    <div class="work_example_button_wrapper col-lg-3">
                        <div class="job_prev mbtn mbtn_orange">Предыдущая работа</div>
                    </div>
                    <div class="work_example_button_wrapper col-lg-3">
                        <div class="job_next mbtn">Следующая работа</div>
                    </div>
                </div>

                <div class="row col-12 d-lg-none pl-4">
                    <div class="work_example_button_wrapper col-12">
                        {% if item.product %}
                            <a href="{{ item.product.path }}" class="mbtn">Хочу такие же</a>
                        {% endif %}
                    </div>
                    <div class="work_example_button_wrapper col-12">
                        <div class="mbtn mbtn mbtn_orange js-modal-open">Консультация</div>
                    </div>
                    <div class="work_example_button_wrapper col-12">
                        <div class="job_prev mbtn">Предыдущая работа</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

