<p class="job_text"><span class="bold">Адрес монтажа</span>: {{ item.address }}</p>
<p class="job_text"><span class="bold">Вид изделия</span>: {{ item.type }}</p>
<p class="job_text"><span class="bold">Коллекция</span>: {{ item.collection }}</p>
<p class="job_text"><span class="bold">Цвет</span>: {{ item.color }}</p>
<p class="job_text"><span class="bold">Количество окон</span>: {{ item.number }}</p>
<p class="job_text"><span class="bold">Где устанавливали</span>: {{ item.place }}</p>
<p class="job_text"><span class="bold">Помещение</span>: {{ item.location }}</p>
<p class="job_text"><span class="bold">Срок изготовления</span>: {{ item.makeDays }} дня</p>
<p class="job_text"><span class="bold">Срок установки</span>: {{ item.installDays }} день</p>
<p class="job_text"><span
            class="bold">Выезд и замер</span>: {{ item.measuringPrice > 0 ? (item.measuringPrice~' руб.') : 'Бесплатный' }}
</p>