{% set orderingOptions = {
    'Подешевле': app.request.pathinfo~'?order=price',
    'Премиум': app.request.pathinfo~'?order=price-desc' ,
    'По популярности': app.request.pathinfo~'?order=popular-desc' ,
} %}

<div class="filters-block my-3">

    {% if catalogsLinks is defined and catalogsLinks|length > 0 %}
        <div class="filters-block__catalog">
            {{ include('modules/link_selector.html.twig', {placeholder: page.filterPlaceholder, options: catalogsLinks}) }}
        </div>
    {% endif %}

    <div class="filters-block__ordering">
        {{ include('modules/link_selector.html.twig', {placeholder: 'Сортировка', options: orderingOptions}) }}
    </div>

    {% if categoryLinks is defined and categoryLinks|length > 0 and not catalog.hideCategories %}
        <div class="filters-block__category">
            {{ include('modules/link_selector.html.twig', {placeholder: 'По классу', options: categoryLinks}) }}
        </div>
    {% endif %}

    {% if colors is defined and colors|length > 0 %}
        <div class="filters-block__color">
            {{ include('modules/color_link_selector.html.twig', {placeholder: 'Цвет', options: colors}) }}
        </div>
    {% endif %}

    <div class="filters-block__extra_ordering">
        <a class="filters-block__button" href="{{ app.request.pathinfo~'?order=price' }}#content">Подешевле</a>
    </div>

    <div class="filters-block__extra_ordering">
        <a class="filters-block__button" href="{{ app.request.pathinfo~'?order=price-desc' }}#content">Премиум</a>
    </div>

    {% if selectedColor|default(false) or selectedCategory|default(false) %}
        <div class="filters-block__reset">
            <a class="filters-block__button" href="/{{ page.uri }}/#content">Сбросить фильтры</a>
        </div>
    {% endif %}
</div>