{% set options = {
    'price': 'По возрастанию цены',
    'price-desc': 'По убыванию цены',
    'popular-desc': 'По популярности',
} %}

<div class="order-block my-3">
    
    <div class="left-area">
        Товары {{ products.paginationData.firstItemNumber }} - {{ products.paginationData.lastItemNumber }} из {{ products.paginationData.totalCount }}
    </div>
    <div class="right-area">
        <form method="get" action="#content">
            <label for="order">Сортировка</label>
            <select name="order" id="order" onchange="this.form.submit()">
                {% for optionValue, optionName in options %}
                    <option
                            {{ (app.request.query.get('order') ?? page.defaultOrdering) == optionValue ? 'selected' }}
                            value="{{ optionValue }}"
                    >
                        {{ optionName }}
                    </option>
                {% endfor %}
            </select>
        </form>
    </div>

</div>