{% if lazyProducts|default(false) %}
    <div class="products">
        <script>
			document.addEventListener("DOMContentLoaded", function () {
				const url = '{{ path(products.route,products.params|merge({'products_only': true})) }}';
				const myRequest = new Request(url);
				fetch(myRequest).then(function (response) {
					return response.text().then(function (text) {
						document.querySelector(".products").innerHTML = text;
					});
				});
			});
        </script>
    </div>
{% else %}
    <div class="products">
        {% for product in products %}
            <div class="product">
                <a href="/{{ product.uri }}/">
                    <img {{ lazy_load(asset(product.imageCatalog),{},lazy_off|default(false)) }}
                            alt="{{ product.imageAlt }}"
                            title="{{ product.imageTitle }}"
                    >
                </a>
                <div class="product__name"><a href="/{{ product.uri }}/">{{ product.name }}</a></div>
                <div class="product__price">{{ min_price(product, false, false) }}</div>
                <div class="d-flex justify-content-center flex-column">
                    <img src="/img/buttons/calculate.jpg" alt="Рассчитать" class=" js-modal-open"
                         data-title="Рассчитать">
                    <img src="/img/buttons/consultation.jpg" alt="Консультация" class=" js-modal-open"
                         data-title="Консультация">
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="text-center pagination-wrapper">
        {% set paginationData = products.paginationData %}
        {% if paginationData.current < paginationData.last %}
            {% set routeParams = products.params|merge({'page': paginationData.next, 'products_only': true}) %}
            <button class="mbtn js-load-next-products my-3"
                    data-url="{{ path(products.route,routeParams) }}">Показать еще...
            </button>
        {% endif %}
        {{ knp_pagination_render(products) }}
    </div>
{% endif %}
